.body {
    float: left;
    display: flex;
    color: white;
    padding: 5px;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
    overflow-y: overlay;
    height: 100%;
    width: 100vw;
    /* height: 100vh; */
}

.body_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.banner {
    flex: 0.3;
}

.song_control {
    flex: 0.1;
}

.songs {
    flex: 0.5;
}

.Song_nav{
flex:0.1;
}