.body {
    float: left;
    display: flex;
    color: white;
    padding: 5px;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

.body_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: 80.96vw;
    height: 100%;
}

.banner {
    flex: 0.3;
}

.song_control {
    flex: 0.1;
}

.songs {
    flex: 0.6;
}