.Sidebar_Option {
    display: flex;
    color: rgb(175, 175, 175);
    height: 35px;
    cursor: pointer;
    align-items: center;
}

.Sidebar_Option:hover {
    color: white;
}

.sidebarOption_icon {
    margin-left: 20px;
    margin-right: 10px;
}