.song_nav{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 0px 15px;
}

.song_nav > h6{
    color: rgb(174, 174, 174);
}

.AccessTimeIcon{
    margin-right: 20px;
}