.SongControl{
    cursor: pointer;
}

.PlayCircleFilledIcon {
    margin-left: 20px;
    font-size: 70px !important;
}

.FavoriteIcon {
    font-size: 50px !important;
    margin-left: 15px;
}
.MoreHorizIcon{
    font-size: 30px !important;
    margin-left: 15px;
}
.change-Color-green{
    color: #1DB954;
}