.SongItem{
    display: flex;
    height: 60px;
    align-items: center;
    margin-left:20px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* justify-content: space-between; */
}

.c > img{
    display: flex;
    height: 64px;
    width: 64px;
    margin-right: 35px;
}

.song_title h4,p{
    display: flex;
    align-items: center;
    font-size: 13px;
    width: fit-content;
}

.c{
    display: flex;
    margin-right: 0px;
    max-width: 390px;
    min-width: 390px;
    align-items: center;
}

.song_num{
    margin-right: 30px;
    font-size: 13px;
}

.song_album{
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 50px;
    min-width: 235px;
    max-width: 235px;
}

.song_added {
    height: 60px;
    margin-left: 50px;
    min-width: 100px;
    max-width: 100px;
}

.song_duration{
    height: 60px;
    margin-left: 200px;
}