.login {
    display: grid;
    place-items: center;
    background-color: #000000;
    height:100vh;
}

.login img{
    margin: auto;
    height:200px;
    width: auto;
}

.login a{
    color: white;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1DB954;
    text-decoration: none;
}